* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#contactform{
  display: none;
}

.contact{
  font-family: Satisfy;
}

.container-fluid {
  background-image: url("../images/b.jpeg");
  height: 660px;
  background-size: cover;
  margin-bottom: auto;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  height: 660px;
}

.blaze{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 120px;
}

.text{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: Satisfy;
}

nav .navbar{
  width: 99%;
  padding-right: 0px;
}
.navbar-brand{
  margin-right: 30%;
  font-weight:800;
}
.nav-item a{
  font-size: 20px;
  font-weight: 700;
}

#menu{
  font-family: Satisfy;
}
