* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.carousel-container{
  width: 60%;
  margin:auto;
  border: 5px solid Black;
}
.carousel-slide{
display: flex;
width: 100%;
height: 500px;
}

.menu-overlay{
  background-color: black;
}

.container-fluid {
  background-image: url("../images/a.jpeg");
  height: 660px;
  background-size: cover;
  margin-bottom: auto;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  height: 660px;
}

.blaze{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 120px;
}

.text{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: Satisfy;
}

nav .navbar{
  width: 99%;
  padding-right: 0px;
}
.navbar-brand{
  margin-right: 30%;
  font-weight:800;
}
.nav-item a{
  font-size: 20px;
  font-weight: 700;
}


<label>Pick your pizza Flavour:</label>
<select class="custom-select custom-select-md mb-3 flavour" required>
   <option value="hawaiian">Hawaiian</option>
   <option value="vegtikka">Veg Tikka</option>
   <option value="chickentikka">Chicken Tikka</option>
   <option value="periperi">Peri-Peri Chicken</option>
   <option value="bbq">BBQ Steak</option>
   <option value="boerewors">Boerewors</option>
   <option value="mushroom">Chicken and Mushroom</option>
</select>
